version: '3.1'

services:

  bot:
    image: bot:local
    restart: always
    env_file:
      - .env
    depends_on:
        db:
          condition: service_healthy
          restart: true
    volumes:
      - ./app/:/usr/src/app


  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  db:
    image: postgres:16.1
    restart: always
    healthcheck:
      test: ["CMD", "pg_isready", "-d", "${PG_DB_NAME}", "-U", "${PG_USER}"]
      interval: 30s
      timeout: 60s
      retries: 5
      start_period: 15s
    environment:
      POSTGRES_USER: ${PG_USER}
      POSTGRES_PASSWORD: ${PG_USER_PASSWORD}
      POSTGRES_DB: ${PG_DB_NAME}