name: Code Quality and Tests

on:
  pull_request:
    branches:
      - '*'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 black
        working-directory: ${{ github.workspace }}

      - name: Run code quality checks
        run: |
          flake8 app
          black --check app
        working-directory: ${{ github.workspace }}

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      
      - name: Run tests
        run: |
          python3 -m unittest discover -s app/tests -p 'test_bot.py'
        working-directory: ${{ github.workspace }}
